version: "3.9"

services:

  interface:
    build: ./interface
    container_name: interface
    networks:
      - sort-net

  orchestrator:
    build: ./orchestrator
    container_name: orchestrator
    networks:
      - sort-net

  queue-a:
    build: ./queue-a
    container_name: queue-a
    networks:
      - sort-net

  sort-a:
    build: ./sort-a
    container_name: sort-a
    networks:
      - sort-net

  sort-b:
    build: ./sort-b
    container_name: sort-b
    networks:
      - sort-net

  sort-c:
    build: ./sort-c
    container_name: sort-c
    networks:
      - sort-net

  database-writer:
    build: ./database-writer
    container_name: database-writer
    networks:
      - sort-net

networks:
  sort-net:
    driver: bridge
